<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Minh Nhật - Điện Lạnh Minh Nhật Cần Thơ </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block" style="background-color: #082680">
        <div class="row align-items-center top-bar">
            <div class="col-lg-3 col-md-12 text-center text-lg-start">

            </div>
            <div class="col-lg-9 col-md-12 text-end pr-0" >
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <i class="fa fa-map-marker-alt text-white me-2"></i>
                    <p class="text-white m-0">470Q, P. Thường Thạnh, Q. Cái Răng, TP. Cần Thơ</p>
                </div>
                <div class="h-100 d-inline-flex align-items-center ml-4">
                    <i class="far fa-envelope-open text-white me-2"></i>
                    <p class="text-white m-0">lehieuse@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid nav-bar" style="background-color: #082680">
        <nav class="navbar navbar-expand-lg navbar-light p-3 py-lg-0 px-lg-4" style="background-color: #082680">
            <a href="" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
                <h1  class="text-white m-0">Minh Nhật</h1>
            </a>
            <button class="navbar-toggler bg-transparent border-0 collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span  class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <div class="d-none d-lg-block">
                    <h3 class="text-white">Minh Nhật</h3>
                </div>
                <div  class="navbar-nav ms-auto">
                    <a href="/Home/" class="text-white nav-item nav-link @( ViewData["Title"] == "Home" ? "active" : "")">Trang chủ</a>
                    <a href="/About/" class="text-white nav-item nav-link @( ViewData["Title"] == "About" ? "active" : "")">Giới thiệu</a>
                    <a href="/Service/" class="text-white nav-item nav-link @( ViewData["Title"] == "Service" ? "active" : "")">Dịch vụ</a>
                    <a href="/Booking/" class="text-white nav-item nav-link @( ViewData["Title"] == "Booking" ? "active" : "")">Đặt lịch</a>
                    <a href="/Blog/" class="text-white nav-item nav-link @( ViewData["Title"] == "Blog" ? "active" : "")">Blog</a>
@*                    <div class="text-white nav-item dropdown">
                        <a href="#" class="text-white nav-link dropdown-toggle @( ViewData["Title"] == "Booking" ? "active" : "")" data-bs-toggle="dropdown">Trang</a>
                        <div class="dropdown-menu fade-up m-0">
                            <a href="/Booking/" class="dropdown-item">Đặt lịch</a>
                            <a href="team.html" class="dropdown-item">Technicians</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>*@
                    <a href="/Contact/" class="text-white nav-item nav-link @( ViewData["Title"] == "Contact" ? "active" : "")">Liên hệ</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Contact Start -->
    @RenderBody()
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6">
                    <h4 class="text-light mb-4">Thông tin liên hệ</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>470Q, P. Thường Thạnh, Q. Cái Răng, TP. Cần Thơ</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0336287471</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>lehieuse@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4316.322488401451!2d105.74688302234436!3d9.966427216361314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08b19c3cdce8f%3A0xeebec6b5a636b94a!2zxJBJ4buGTiBM4bqgTkggTUlOSCBOSOG6rFQ!5e0!3m2!1svi!2s!4v1690644254979!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-3 col-md-6">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhieu.van.58555941%2F&tabs=timeline&width=100&height=100&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100" height="100" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
